
{{ember-chart type='Pie' data=pieData width=200 height=200}}

<ul>
  <li>{{input value=pieValue1 type="number"}}</li>
  <li>{{input value=pieValue2 type="number"}}</li>
  <li>{{input value=pieValue3 type="number"}}</li>
</ul>

{{ember-chart type='Doughnut' data=pieData width=200 height=200 legend=true }}

{{!-- {{ember-chart type='Line' data=lineData width=600 height=200}}

<ul>
  <li>{{input value=lineValue1 type="number"}}</li>
  <li>{{input value=lineValue2 type="number"}}</li>
</ul>

{{ember-chart type='Bar' data=barData width=600 height=200}}

{{ember-chart type='radar' data=radarData width=400 height=400}}

{{ember-chart type='polar area' data=polarAreaData width=400 height=400}}

 --}}
